<div class="text-center">
  <a href="https://github.com/YunnuY/meen">
    <img src="/assets/images/meen.png" alt="Logo">
  </a>

  <div class="page-header">
    <h1>welcome to use MEEN.js</h1>
  </div>

  <p class="lead">
  <a href="https://github.com/YunnuY/meen">MEEN</a> stand for Mongo-Ember-Express-Node full-stack javascript open-source solution.
    The purpose of this project is to build a robust framework using best tools in js community,
    to support daily development needs, and help developers use better practices while working with popular javascript components.
  </p>

</div>
