<form class="form-signin" role="form">
  <h2 class="form-signin-heading">welcome sign up</h2>
  <input type="email" class="form-control" placeholder="Email address" required autofocus>
  <input type="password" class="form-control" placeholder="Password" required>
  <input type="password" class="form-control confirm" placeholder="Confirm Password" required>
  <br/>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
</form>
